/* Write your code here. */
.displayImage {
  height: 55vh;
  width: 60vw;
}
.listContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgContainer {
  padding: 20px;
}
